/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.decor {
  color: var(--accent-color);
  font-family: var(--base-font-family);
  font-size: var(--text-font-size);
  font-style: normal;
  font-weight: var(--text-font-weight-reg);
  line-height: 25px; 
  position: absolute;
  inset-inline-end: 9px;
  inset-block-start: 0;
}

.decor::after {
  content: "";
  display: inline-block;
  margin: 2px 0 0 10px;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  filter: drop-shadow(0 0 4px var(--accent-color));
}

:root.theme-dark {
  --bg-path: url("../images/cover-image-dark.png");

  --accent-color: #FF0070;
  --accent-color-hover: rgba(255, 0, 112, 0.40);
  --shadow-color: #DB00FF;
  --bg-color: #000028;
  --text-color: #F1B2CE;
}